@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-popup-content {
  background-color: #074b7c !important;
  max-width: 200px;
}

.mapboxgl-popup-tip {
  border-top-color: #074b7c !important;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}
