@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-popup-content {
  background-color: #074b7c !important;
  max-width: 200px;
}

.mapboxgl-popup-tip {
  border-top-color: #074b7c !important;
  border-bottom-color: #074b7c !important;
}
